table {
  text-align: left;
  font-size: 0.7rem;
  border-collapse: collapse;
  th,
  td {
    padding: 0.3rem;
    vertical-align: top;
  }
  thead tr {
    //background-color: #009879;
    background: #7ea1c4;
    color: #ffffff;
  }
  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
      &:nth-of-type(even) {
        background-color: #f3f3f3;
      }
      &:nth-of-type(odd) {
        background-color: #ffffff;
      }
    }
  }
}
